{
    "presets": [
        "env",
        "react",
        "flow",
        "stage-3"
    ],
    "plugins": [
        "styled-components",
        "transform-class-properties",
        "transform-decorators-legacy",
        "transform-object-rest-spread",
        "inline-react-svg"
    ]
}
